# Node modules
node_modules/

# Build directories
build/
dist/

# Environment variables
.env

# Log files
*.log

# JSON files (if sensitive data is present)
package.JSON
package-lock.JSON

# Additional files to ignore
fileOrganization.txt
src/shared/utils/generateData.js
