.sidenav {
  background-color: white;
  width: fit-content;
  border-right: 1px solid rgba(33, 63, 125, 0.1);
  height: 100vh;
  overflow-y: auto; // Allow vertical scrolling
  overflow-x: visible; // Ensure horizontal content is not clipped  width: 280px;
  padding-top: 100px;
  transition: transform 0.3s ease-in-out;
  z-index: 999;
  transform: translateX(0);

  /* Hide scrollbar for Chrome, Safari and Opera */
  &::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none;
  scrollbar-width: none;

  h3 {
    text-transform: uppercase;
  }

  .special .nav-item {
    opacity: 1;
  }

  .special .dropdown-icon {
    right: 22%;
  }

  .nav-item {
    color: var(--bg-blue);
    opacity: 0.6;

    &:hover,
    &.active {
      background-color: rgba(57, 205, 204, 0.1);
      opacity: 1;
      border-left: 3px solid var(--bg-green);

      svg {
        color: var(--bg-green);
      }
    }
  }

  .sidenav-divider {
    background-color: rgba(33, 63, 125, 0.1);
  }

  .version {
    color: var(--bg-blue);
    opacity: 0.6;
  }

  &.open {
    transform: translateX(0); // Ensure the sidenav is visible when open
  }

  .input-group{
    display: none;
  }
}

.menu-icon {
  display: none; // Hide by default
  cursor: pointer;
  padding: 10px;
  position: fixed;
  top: 15px;
  right: 10px;
  z-index: 1000;

  img {
    width: 24px;
    height: 24px;
  }
}

@media (min-width: 1001px) {
  .sidenav {
    transform: translateX(0);
    width: 280px;
  }
}

@media (max-width: 1000px) {
  .menu-icon {
    display: block; // Show on mobile
  }

  .sidenav .input-group {
    max-width: 90%;
    display: flex; 
    margin: auto;
  }

  .sidenav {
    padding-top: 100px;
    transform: translateX(-100%);

    &.open {
      transform: translateX(0); // Bring the sidenav into view when open
    }

    .search-input {
      border: 1px solid var(--bg-gray-opacity);
      border-radius: 8px;
      flex-grow: 1; // Allow the input to take up remaining space

      &::placeholder {
        color: var(--bg-gray);
      }
    }

    .search-button {
      border-radius: 0 8px 8px 0;
    }
  }
}

@media screen and (max-width: 767px) {
  .sidenav{
    padding-top: 60px;
  }
  .menu-icon {
    top: 5px;
    padding: 3px;

    img {
      width: 15px;
      height: 15px;
    }
  }
}
