.special-margin-top {
  margin-top: 80px;
}

.dashboard {
  background-color: #fbfbfb;
  padding-left: 280px; // Match SideNav width

  .dashboard-content {
    width: 100%;

    .card {
      border-radius: 8px;
      border: none;
      box-shadow: 0 4px 16px rgba(0, 0, 0, 0.05); // Increased spread

      .card-title {
        color: #213f7d;
        font-size: 1.25rem;
        font-weight: 500;
      }

      .text-muted {
        font-size: 0.875rem;
      }

      .fw-bold {
        color: #213f7d;
      }
    }

    .card-body {
      border-radius: var(--border-radius-md);
    }
  }

  .action-buttons {
    .btn {
      padding: 0.5rem 1.5rem;
      font-weight: 500;

      &.btn-danger {
        background-color: #e4033b;
        border-color: #e4033b;

        &:hover {
          background-color: darken(#e4033b, 10%);
        }
      }

      &.btn-success {
        background-color: #39cdcc;
        border-color: #39cdcc;

        &:hover {
          background-color: darken(#39cdcc, 10%);
        }
      }
    }
  }

  .badge {
    padding: 0.5rem 1rem;
    font-weight: 500;

    &.bg-success {
      background-color: #39cdcc !important;
    }

    &.bg-danger {
      background-color: #e4033b !important;
    }
  }
}

.cover {
  display: flex;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

.icon-class {
  width: 20px; /* Adjust width as needed */
  height: 20px; /* Adjust height as needed */
}

.card {
  border: none;
  border-radius: 8px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1); // Increased spread
}

.card-body {
  padding: 20px;
  background-color: #fff;
}

.user-details-table .card-body {
  padding: 30px;
}

.card-body {
  p {
    margin-bottom: 0;
  }
}

.user-table {
  th {
    padding-bottom: 10px;

    img {
      margin-left: 5px; // Space between text and icon
      width: 16px; // Set a fixed width for the icon
      height: auto; // Maintain aspect ratio
    }
  }
  .ellipsis {
    float: right; // Right-align the ellipsis
    cursor: pointer; // Change cursor to pointer for better UX
  }
}

// Media query to hide the fifth column at 1350px
@media (max-width: 1350px) {
  .user-table {
    th:nth-child(5),
    td:nth-child(5) {
      display: none; // Hide the fifth column
    }
  }
}

@media (max-width: 1000px) {
  .user-table {
    th:nth-child(4),
    td:nth-child(4) {
      display: none; // Hide the fifth column
    }
  }

  .dashboard {
    padding-left: 0 !important;
  }
  .dashboard-content {
    width: 100% !important;

    .card {
      padding: 16px;
    }
  }

  .details-screen .col-md-3 {
    width: 25%;
  }

  .profile {
    .profile-section {
      flex-direction: column;
      align-items: center;
    }
  }

  .vr {
    display: none;
  }

  .tier-stars,
  .text-start {
    margin-top: 10px;
  }
}

@media (max-width: 767px) {
  .dashboard-content {
    .margin-b-40 {
      margin-bottom: 20px;
    }

    .user-details-table {
      padding: 0 !important;

      .user-table {
        th:nth-child(3),
        td:nth-child(3) {
          display: none;
        }

        .user-data {
          padding: 8px 0 !important;
        }

        thead {
          display: none;
        }
        tbody {
          display: block;

          tr {
            display: block;
            margin-bottom: 10px;
            background-color: #f9f9f9;
            border: 1px solid #ddd;
            padding: 10px;
            border-radius: 8px;

            td {
              display: flex;
              justify-content: space-between;
              padding: 4px 0;
              border: none;
              font-size: 12px;
              border-bottom: 1px solid #eee;

              &:last-child {
                border-bottom: none;
              }

              &::before {
                content: attr(
                  data-label
                ); // Use data-label for mobile-friendly titles
                font-weight: bold;
                color: #555;
                font-size: 10px;
              }
            }
          }
        }
      }

      .card-body {
        padding: 0 !important;
      }
    }
  }

  // Adjusting statistics cards
  .row.mb-4 {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  // Pagination adjustments
  .pagination {
    justify-content: center;
    .page-item {
      .page-link {
        padding: 4px 8px;
        font-size: 12px;
      }
    }
  }

  .details-screen {
    padding: 20px;

    h1 {
      flex-direction: column;

      button {
        margin-top: 10px;
      }
    }
  }

  h1 {
    font-size: 20px;
  }

  .btn {
    font-size: 14px;
    padding: 8px 12px;
  }

  .profile-circle {
    width: 50px;
    height: 50px;
    font-size: 20px;
  }

  .tier-stars .stars {
    font-size: 18px;
  }

  .text-start p {
    font-size: 14px;
  }

  .section {
    h2 {
      font-size: 18px;
    }

    .row {
      display: flex;
      flex-direction: column;

      .col-md-3 {
        width: 100%;
        margin-bottom: 10px;
      }
    }
  }

  .special-margin-top {
    margin-top: 40px;
  }

  .profile {
    text-align: center;
    flex-direction: column;

    .vr {
      display: none;
    }

    .profile-section,
    .tier-stars,
    .account-info {
      margin-bottom: 10px;
    }
  }

  .total-page-count {
    display: none;
  }

  .pagination-nav {
    .pagination{
      .page-link{
        margin: 0;
      }
    }}
}

.details-screen {
  .col-md-3 {
    width: 20% !important;
    min-width: 100px;
    box-sizing: border-box;
    word-wrap: break-word;
    overflow-wrap: break-word;
    padding: 10px;
  }
  .btn {
    padding: 10px 16px;
  }

  .row {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }

  .details-screen-container {
    background-color: white;
    overflow: hidden;
    border-radius: 4px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.05);

    .details-screen-header {
      padding: 20px;
    }

    .horizontal-links {
      padding: 0 20px;

      .text-decoration-none {
        padding: 0 10px;
      }
    }

    .horizontal-links .active {
      color: var(--bg-green);
      border-bottom: 2px solid var(--bg-green);
    }
  }

  .profile-circle {
    width: 60px;
    height: 60px;
    font-size: 24px;
    border-radius: 50%;
  }

  .d-flex {
    flex-wrap: wrap;
  }

  h1 {
    margin-bottom: 30px;
  }

  .tier-stars {
    margin-top: 10px;
    .stars {
      font-size: 20px;
      color: #ffd700;
    }
    .star {
      margin: 0 3px;
    }
  }
}

.vr {
  display: block;
  background-color: #ccc;
  width: 2px;
  margin: 0 15px;
}

hr {
  margin: 4px 0 0 0;
}

.details-section {
  margin-top: 30px;
  background-color: #fff;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

// Section styles
.section {
  padding: 20px;

  h2 {
    margin-bottom: 30px;
  }
}

// Filter popup styles
.filter-popup {
  width: 270px;
  position: absolute;
  background-color: white;
  border: 0.5px solid #cccccc7e;
  border-radius: 4px;
  padding: 30px 20px;
  z-index: 1000;
  box-shadow: 0 2px 16px rgba(0, 0, 0, 0.05);
}

.form-group {
  margin-bottom: 20px;
  width: 100%;

  label {
    display: block;
    margin-bottom: 5px;
  }
}

.form-group input,
.filter-popup select,
.filter-item {
  width: 100%;
  text-align: left;
  padding: 12px 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  color: var(--bg-gray);
}



.filter-popup input,
.filter-popup select {
  &::placeholder {
    color: #000;
    opacity: 0.5;
  }
}

.filter-item::after {
  display: none;
}

.custom-date-input {
  width: 100%;
  position: relative;
  padding-right: 30px; 
  background-image: url("../../../assets/images/svg/Icons/calender.svg");
  background-repeat: no-repeat;
  background-position: right 10px center; 
  background-size: 18px 18px; 
}

.react-datepicker-wrapper {
  width: 100%;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  display: none !important;
}

.custom-date-input::-webkit-input-placeholder {
  color: transparent;
}

.filter-btn {
  width: 100%;
  padding-top: 10px;

  button {
    width: 98px;
    color: #fff;
    border: none;
    background-color: var(--bg-green);
    border-radius: 8px;
    font-weight: var(--font-weight-600);

    &:first-child {
      background-color: var(--white);
      color: var(--bg-gray);
      border: 1px solid var(--bg-gray);
      margin-right: 14px;
    }
  }
}

.ellipsis-menu {
  position: absolute;
  right: -10px;
  margin-top: 30px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  width: 150px;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  li {
    padding: 10px; /* Padding for menu items */
    cursor: pointer; /* Pointer cursor on hover */
    display: flex; /* Flexbox for icon and text */
    align-items: center; /* Center items vertically */

    &:hover {
      background-color: #f0f0f0; /* Highlight on hover */
    }
  }

  img {
    margin-right: 8px; /* Space between icon and text */
    width: 16px; /* Set a width for icons */
    height: 16px; /* Set a height for icons */
  }
}

.select-page-display {
  background: var(--bg-gray-opacity); // Gray with 10% opacity
  color: var(--bg-blue);
  font-weight: var(--font-weight-500);
  font-size: var(--font-size-base);
  border-radius: 4px;
  border: 1px solid transparent;
  padding: 8px 36px 8px 12px; // Extra right padding to make space for the icon
  appearance: none; // Removes default arrow icon
  -webkit-appearance: none; // Safari
  -moz-appearance: none; // Firefox
  font-size: 14px;
  outline: none;
  cursor: pointer;
  background-image: none; // Ensures no default icon appears

  &:focus {
    border: 1px solid var(--bg-gray-opacity);
    box-shadow: 0 0 4px var(--bg-gray-opacity);
  }
}

.select-container {
  position: relative;
  display: inline-block;
  width: 80px;
  height: 30px;
}

.custom-icon {
  position: absolute;
  right: 20px; // Aligns the icon to the right
  top: 60%;
  transform: translateY(-50%);
  pointer-events: none; // Ensures clicks go through to the select
  width: 14px; // Adjust size as needed
  height: 14px;
  z-index: 100;
  opacity: 60%;
}

.pagination-nav {
  display: flex;
  align-items: center;

  ul {
    margin-bottom: 0;
  }

  .pagination {
    .page-link {
      font-size: var(--font-size-lg);
      font-weight: var(--font-weight-500);
      color: var(--bg-blue);
      background-color: transparent;
      border: none;
      margin: 0 4px;
    }

    .page-item:first-child .page-link,
    .page-item:last-child .page-link {
      background-color: var(--bg-gray-opacity);
      border-radius: 4px;
    }
    .page-item:first-child .page-link {
      color: var(--bg-gray-opacity);
    }

    .page-item.active .page-link {
      background-color: var(--bg-green);
      color: var(--white);
      border-radius: 4px;
    }
  }
}
